* {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

body {
  background-color: #141e30;
  /* background-image: linear-gradient(to right, #141e30, #243b55); */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  color: whitesmoke;
}

.max {
  font-size: 28px;
  padding: 9px;
}

select {
  width: 700px;
  background-color: #141e30;
  color: whitesmoke;
  height: 50px;
  margin-top: 5px;
}


/* @media screen and (max-width: 920px) {
    .App {
   

    }
    
} */